<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product9.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product10.jpg"></a>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product11.jpg"></a>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product12.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product13.jpg"></a>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product14.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product15.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product16.jpg"></a>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product17.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product18.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product19.jpg"></a>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-sm-4 col-xl-3">
    <div class="home-product">
        <figure>
            <a href="product.html"><img src="assets/images/products/product20.jpg"></a>
            <span class="product-label label-sale">27% OFF</span>
        <div class="btn-icons">
            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="porto-icon-bag-2"></i></button>
        </div>
        <a href="ajax/product-quick-view.html" class="btn btn-quickview">QUICK VIEW</a>
        </figure>
        <div class="product-details">
            <div class="category-wrap">
                <h2 class="product-category">CATEGORY</h2>
                <a href="#"><i class="porto-icon-wishlist-2"></i></a>
            </div>
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
                <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
            </div><!-- End .product-container -->
            <div class="price-box">
                <span class="old-price">$59.00</span>
                <span class="product-price">$49.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
