<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-1.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-1.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-2.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-2.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-3.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-3.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-4.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-4.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-5.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-5.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-6.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-6.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div>
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-7.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-7.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div><!-- End .col-lg-3 -->
<div class="col-6 col-md-4 col-xl-3">
    <div class="product-default inner-quickview inner-icon">
        <figure>
            <a href="product.html">
                <img src="assets/images/products/product-8.jpg">
            </a>
            <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
            </div>
            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
        </figure>
        <div class="product-select-group justify-content-center">
            <a class="product-select type-image checked" data-src="assets/images/products/product-8.jpg" style="background-color: #f0d27a;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-2.jpg" style="background-color: #95cae9;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-3.jpg" style="background-color: #fdb813;"></a>
            <a class="product-select type-image" data-src="assets/images/products/product-4.jpg" style="background-color: #afd776;"></a>
        </div>
        <div class="product-details align-items-center">
            <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
            </h2>
            <div class="price-box">
                <span class="product-price">$88.00 - $99.00</span>
            </div><!-- End .price-box -->
        </div><!-- End .product-details -->
    </div>
</div><!-- End .col-lg-3 -->